* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
h1 {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
div {
  border: 2px solid #000;
  border-radius: 5px;
  width: 300px;
  height: 50px;
  margin: 30px auto;
}
.section-1 > div:nth-of-type(1) {
  background-color: #fb8500;
  transform: rotate(45deg);
}
.section-1 > div:nth-of-type(2) {
  background-color: #ffb703;
  transform: scale(1, 0.5);
}
.section-1 > div:nth-of-type(3) {
  background-color: #023047;
  transform: translateX(200px);
}
.section-1 > div:nth-of-type(4) {
  background-color: #219ebc;
  transform: translate(-200px, 100px);
}
/* section two */

.section-2 > div:nth-of-type(1) {
  background-color: #fb8500;
  transform: skew(45deg);
}
.section-2 > div:nth-of-type(2) {
  background-color: #ffb703;
  transform: skew(10deg, 3deg);
}
.section-2 > div:nth-of-type(3) {
  background-color: #023047;
  transform: rotate(20deg) scale(1);
}
.section-2 > div:nth-of-type(4) {
  background-color: #219ebc;
  transform: translateX(-300px) rotate(50deg) scale(0.6) skew(20deg);
}
